<mat-card>
    <h1>Your Profile</h1>
    
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-center">
                <img class ="profile-image" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="image.png">
                <h1>Abhishek Srivastava</h1>
            </div>
            
            <div class="row">
                <div class ="col-md-10 offset-md-1">
                    <!-- table details -->
                </div>
            </div>
        </div>
    </div>
</mat-card>