<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
               <!-- <p>Instructions</p> -->
            </div>
    
            <div class="col-md-8"  >
                <!-- questions -->
                <ng-container class ="mt20" *ngIf="questions">
                    <h1>Quiz Topics (<b>{{questions[0].quiz.title}}</b> )</h1>
                </ng-container>
    
                <mat-card class = "mt20" *ngFor="let q of questions;let i = index">
                    <mat-card-content>
                       <strong><p> Q{{i+1 }})&nbsp;&nbsp;<span [innerHTML]="q.content"></span></p></strong> 
                       
                       <div class="row mt10">
                           <div class="col-md-6">
                                <input 
                                        [(ngModel)]="q.givenAnswer"
                                        type="radio" 
                                        [value]="q.option1" 
                                        name={{i}}
                                        >{{q.option1}}
                           </div>
                           <div class="col-md-6">
                                <input   [(ngModel)]="q.givenAnswer"
                                        type="radio" 
                                        [value]="q.option2" 
                                        name={{i}}
                                        >{{q.option2}}
                           </div>
                       </div>
                      
                       <div class="row mt10">
                        <div class="col-md-6">
                            <input  [(ngModel)]="q.givenAnswer"
                                    type="radio" 
                                    [value]="q.option3" 
                                    name={{i}}
                                    >{{q.option3}}
                        </div>
                        <div class="col-md-6">
                            <input  [(ngModel)]="q.givenAnswer"
                                    type="radio" 
                                    [value]="q.option4" 
                                    name={{i}}
                                    >{{q.option4}}
                        </div>
                    </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20">
                    <button mat-raised-button color="primary" (click)="submitQuiz()">Submit</button>
                </div>
            </div>
            <div class="md-3">
                <!-- progress -->
               
                <mat-card style="margin-top: 53px;">
                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                        <mat-card-subtitle>Quiz will submit automatically once time over</mat-card-subtitle>
                    </mat-card-header>
                    <strong><p class="text-center">{{getFormattedTime()}} left</p></strong>
                    <mat-card-content>
                        <mat-spinner 
                        style="margin: auto;"
                        class="example-margin"
                        color="accent"
                        mode="determinate"
                        [value]="(timer/(this.questions.length * 1 * 60))*100"></mat-spinner>
                    </mat-card-content>
                </mat-card>
                
            </div>
        </div>
        
    </div>
</div>

<!-- show result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Marks Got :  {{marksGot}}</h1>
                    <h1>CorrectAnswer: {{correctAnswers}}</h1>
                    <h1>Questions Attempted : {{attempted}}</h1>
                </mat-card-content>
                <button mat-raised-button color="primary">print</button>
                <button class="ml10" mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">Home</button>
            </mat-card>
        </div>
    </div>
</div>