<div class ="bootstrap-wrapper">
    <div class="container">
        <h1> <strong>Available Quizzes</strong> </h1>
        <div class="row">
            <div class="col-md-4 mt20" *ngFor="let q of quiz">    
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{q.category.title}}</mat-card-title>
                    </mat-card-header>
                    <br>
                    <mat-card-subtitle><strong>{{q.title}}</strong></mat-card-subtitle>
                    <mat-card-content>
                        <p class = "truncate">{{q.description}}</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button 
                                mat-raised-button 
                                [routerLink]="'/user-dashboard/instructions/'+ q.qid" 
                                color="accent">Start
                        </button>
                        <button mat-raised-button color="accent">View</button>
                        <button mat-button color="accent">Max Question : {{q.numberOfQuestions}}</button>
                      </mat-card-actions>
                  </mat-card>   
            </div>
            <div *ngIf="quiz.length==0" class="col-md-12">
                <mat-card>
                    <mat-card-content>
                        <h1><strong>No Data In This category</strong></h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>