
<div class="bootstrap-wrapper">
    <div class="container">
        <div class ="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>   
                    <div class ="container ">
                        <img class="center" style ="height: 150px; width: 300px;"src="../../../assets/login.png" alt="image.png">
                    </div>
                    <h1 class="text-center"><strong>Login Here</strong></h1>
                    <!-- {{user|json}} -->
                    <form >
                        <!-- username field -->
                        <mat-form-field class ="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input required type="text" 
                            name="username" 
                            matInput placeholder="Enter UserName">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        
                        </mat-form-field>
                        
                        <!-- password field -->
                        <mat-form-field class ="full-width" appearance="outline">
                            <mat-label>User Password</mat-label>
                            <input required type= "password"   
                            name ="password"
                            matInput placeholder="Enter Password">
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Login</button>
                            
                            <button class="ml20" type="reset"mat-raised-button color="accent">Reset</button>
                        </div>
                    </form>
                </mat-card> 
            </div>
        </div>
    </div>

</div>